In [1]:
!pip install pymysql
!pip install wikipedia

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 45.0/45.0 kB 560.2 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000131C76AFC80>: Failed to establish a new connection: [Errno 11004] getaddrinfo failed')': /simple/pymysql/

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting wikipedia
  Downloading wikipedia-1.4.0.tar.gz (27 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting beautifulsoup4 (from wikipedia)
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting requests<3.0.0,>=2.0.0 (from wikipedia)
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests<3.0.0,>=2.0.0->wikipedia)
  Downloading charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests<3.0.0,>=2.0.0->wikipedia)
  Downloading idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests<3.0.0,>=2.0.0->wikipedia)
  Downloading urllib3-2.2.2-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests<3.0.0,>=2.0.0->wikipedia)
  Downloading certifi-2024.7.4-py3-none-any.whl.metadata (2.2 kB)
Collecting soupsieve>1.2 (from beautifulsoup4->wikipedia)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
   ---------------------------------------- 64.9/64.9 kB 3.4 MB/s eta 0:00:00
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ---------------------------------------- 147.9/147.9 kB 4.3 MB/s eta 0:00:00
Downloading certifi-2024.7.4-py3-none-any.whl (162 kB)
   --------------------------------------- 163.0/163.0 kB 10.2 MB/s eta 0:00:00
Downloading charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl (100 kB)
   ---------------------------------------- 100.4/100.4 kB 5.6 MB/s eta 0:00:00
Downloading idna-3.7-py3-none-any.whl (66 kB)
   ---------------------------------------- 66.8/66.8 kB 3.5 MB/s eta 0:00:00
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Downloading urllib3-2.2.2-py3-none-any.whl (121 kB)
   ---------------------------------------- 121.4/121.4 kB ? eta 0:00:00
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (pyproject.toml): started
  Building wheel for wikipedia (pyproject.toml): finished with status 'done'
  Created wheel for wikipedia: filename=wikipedia-1.4.0-py3-none-any.whl size=11703 sha256=52628482fd83f32aac4a2f38379a6a1145d24b53d1d3145082888ca75582e14e
  Stored in directory: c:\users\jedba\appdata\local\pip\cache\wheels\63\47\7c\a9688349aa74d228ce0a9023229c6c0ac52ca2a40fe87679b8
Successfully built wikipedia
Installing collected packages: urllib3, soupsieve, idna, charset-normalizer, certifi, requests, beautifulsoup4, wikipedia

  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an OSError: [WinError 2] The system cannot find the file specified: 'C:\\Python312\\Scripts\\normalizer.exe' -> 'C:\\Python312\\Scripts\\normalizer.exe.deleteme'


[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
import pymysql
import csv
import numpy as np
import pandas as pd
import requests
from IPython.display import Image, display
import wikipedia
import hashlib
import time
import json

In [34]:
titles = pd.read_csv('title.basics.tsv', delimiter='\t', encoding='utf-8')

C:\Users\jedba\AppData\Local\Temp\ipykernel_41904\2741386651.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titles = pd.read_csv('title.basics.tsv', delimiter='\t', encoding='utf-8')

In [36]:
Movie = titles[(titles['titleType'] == 'movie') & (titles['isAdult'] == 0)]
Movie = Movie.drop(columns=['endYear', 'titleType', 'isAdult', 'originalTitle'])
Movie = Movie.rename(columns={'tconst': 'movieID', 'primaryTitle':'title', 'startYear': 'releaseYear'})

In [71]:
print(Movie)
print(min(set(Movie['releaseYear'])))

            movieID                                              title  \
8         tt0000009                                         Miss Jerry
144       tt0000147                      The Corbett-Fitzsimmons Fight
498       tt0000502                                           Bohemios
570       tt0000574                        The Story of the Kelly Gang
587       tt0000591                                   The Prodigal Son
...             ...                                                ...
10823335  tt9916622        Rodolpho Teóphilo - O Legado de um Pioneiro
10823362  tt9916680  De la ilusión al desconcierto: cine colombiano...
10823374  tt9916706                                    Dankyavar Danka
10823384  tt9916730                                             6 Gunn
10823394  tt9916754                     Chico Albuquerque - Revelações

         releaseYear runtimeMinutes
8               1894             45
144             1897            100
498             1905            100
570             1906             70
587             1907             90
...              ...            ...
10823335        2015             57
10823362        2007            100
10823374        2013             \N
10823384        2017            116
10823394        2013             49

[670604 rows x 4 columns]
1894

In [13]:
import requests

url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5MTQ0NjAzMzhhNzc5Y2MyYTFjN2ZiZmY2YmFjYjYxYSIsIm5iZiI6MTcxOTk3MDMxOC4zOTEwODEsInN1YiI6IjY2Njc1ZTg0ZjlkNjI5MGE0YmRkYjM3NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9qM0vHqXCj8eOXw5evxNitTQR8NTqj9c4hGsx4IPFVQ"
}

response = requests.get(url, headers=headers)

print(response.text)

{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}

In [27]:
json_response = json.loads(response.text)
genres_list = json_response['genres']
Genre = pd.DataFrame(genres_list).rename(columns={'id': 'genreID', 'name': 'genre'})

In [48]:
print(Genre)

    genreID            genre
0        28           Action
1        12        Adventure
2        16        Animation
3        35           Comedy
4        80            Crime
5        99      Documentary
6        18            Drama
7     10751           Family
8        14          Fantasy
9        36          History
10       27           Horror
11    10402            Music
12     9648          Mystery
13    10749          Romance
14      878  Science Fiction
15    10770         TV Movie
16       53         Thriller
17    10752              War
18       37          Western

In [61]:
MovieGenres = Movie[['movieID', 'genres']]

In [66]:
print(MovieGenres)

          movieID       genres genreIDs
0       tt0000009      Romance  [10749]
1       tt0000147  Documentary     [99]
2       tt0000147  Documentary     [99]
3       tt0000147      History     [36]
5       tt0000574       Action     [28]
...           ...          ...      ...
987758  tt9916622  Documentary     [99]
987759  tt9916680  Documentary     [99]
987760  tt9916706       Comedy     [35]
987761  tt9916730        Drama     [18]
987762  tt9916754  Documentary     [99]

[913515 rows x 3 columns]

In [63]:
def replace_genres(genres):
    replacements = {'Sci-Fi': 'Science Fiction',
                    'Musical': 'Music',
                    'Sport': 'History',
                    'Talk-Show': 'TV Movie',
                    'News': 'Documentary',
                    'Reality-TV': 'TV Movie',
                    'Film-Noir': 'Crime',
                    'Game-Show': 'TV Movie',
                    'Biography': 'Documentary'}
    return ','.join(replacements.get(genre.strip(), genre) for genre in genres.split(','))

MovieGenres['genres'] = MovieGenres['genres'].apply(replace_genres)

C:\Users\jedba\AppData\Local\Temp\ipykernel_41904\599487517.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MovieGenres['genres'] = MovieGenres['genres'].apply(replace_genres)

In [65]:
def replace_with_genre_ids(genres_str):
    genre_ids = []
    for genre in genres_str.split(','):
        genre_id = Genre[Genre['genre'] == genre]['genreID'].values
        if len(genre_id) > 0:
            genre_ids.append(genre_id[0])
    return genre_ids

MovieGenres['genres'] = MovieGenres['genres'].str.split(',')
MovieGenres = MovieGenres.explode('genres').reset_index(drop=True)
MovieGenres = MovieGenres[MovieGenres['genres'] != '\\N']

MovieGenres['genreIDs'] = MovieGenres['genres'].apply(replace_with_genre_ids)

print(MovieGenres)

C:\Users\jedba\AppData\Local\Temp\ipykernel_41904\2734654599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MovieGenres['genres'] = MovieGenres['genres'].str.split(',')

          movieID       genres genreIDs
0       tt0000009      Romance  [10749]
1       tt0000147  Documentary     [99]
2       tt0000147  Documentary     [99]
3       tt0000147      History     [36]
5       tt0000574       Action     [28]
...           ...          ...      ...
987758  tt9916622  Documentary     [99]
987759  tt9916680  Documentary     [99]
987760  tt9916706       Comedy     [35]
987761  tt9916730        Drama     [18]
987762  tt9916754  Documentary     [99]

[913515 rows x 3 columns]

In [67]:
MovieGenres.drop(columns=['genres'], inplace=True)
MovieGenres['genreID'] = MovieGenres['genreIDs'].apply(lambda x: x[0] if len(x) > 0 else None)
MovieGenres.drop(columns=['genreIDs'], inplace=True)
MovieGenres.drop_duplicates(subset=['movieID', 'genreID'], inplace=True)
print(MovieGenres)

          movieID  genreID
0       tt0000009    10749
1       tt0000147       99
3       tt0000147       36
5       tt0000574       28
6       tt0000574       12
...           ...      ...
987758  tt9916622       99
987759  tt9916680       99
987760  tt9916706       35
987761  tt9916730       18
987762  tt9916754       99

[901850 rows x 2 columns]

In [70]:
Movie.drop(columns=['genres'], inplace=True)

KeyError: "['genres'] not found in axis"

In [73]:
print(Movie)
print(Genre)
print(MovieGenres)

            movieID                                              title  \
8         tt0000009                                         Miss Jerry
144       tt0000147                      The Corbett-Fitzsimmons Fight
498       tt0000502                                           Bohemios
570       tt0000574                        The Story of the Kelly Gang
587       tt0000591                                   The Prodigal Son
...             ...                                                ...
10823335  tt9916622        Rodolpho Teóphilo - O Legado de um Pioneiro
10823362  tt9916680  De la ilusión al desconcierto: cine colombiano...
10823374  tt9916706                                    Dankyavar Danka
10823384  tt9916730                                             6 Gunn
10823394  tt9916754                     Chico Albuquerque - Revelações

         releaseYear runtimeMinutes
8               1894             45
144             1897            100
498             1905            100
570             1906             70
587             1907             90
...              ...            ...
10823335        2015             57
10823362        2007            100
10823374        2013             \N
10823384        2017            116
10823394        2013             49

[670604 rows x 4 columns]
    genreID            genre
0        28           Action
1        12        Adventure
2        16        Animation
3        35           Comedy
4        80            Crime
5        99      Documentary
6        18            Drama
7     10751           Family
8        14          Fantasy
9        36          History
10       27           Horror
11    10402            Music
12     9648          Mystery
13    10749          Romance
14      878  Science Fiction
15    10770         TV Movie
16       53         Thriller
17    10752              War
18       37          Western
          movieID  genreID
0       tt0000009    10749
1       tt0000147       99
3       tt0000147       36
5       tt0000574       28
6       tt0000574       12
...           ...      ...
987758  tt9916622       99
987759  tt9916680       99
987760  tt9916706       35
987761  tt9916730       18
987762  tt9916754       99

[901850 rows x 2 columns]

In [74]:
roles = pd.read_csv('title.principals.tsv', delimiter='\t', encoding='utf-8')

In [75]:
print(set(roles['category']))

{'actress', 'production_designer', 'archive_footage', 'archive_sound', 'producer', 'writer', 'editor', 'director', 'actor', 'self', 'casting_director', 'cinematographer', 'composer'}

In [86]:
acting_roles = roles[roles['category'].isin(['actor', 'actress'])]
director_roles = roles[roles['category'] == 'director']

In [87]:
print(director_roles)

             tconst  ordering      nconst  category                 job  \
1         tt0000001         2   nm0005690  director                  \N
4         tt0000002         1   nm0721526  director                  \N
6         tt0000003         1   nm0721526  director                  \N
11        tt0000004         1   nm0721526  director                  \N
18        tt0000007         3   nm0005690  director                  \N
...             ...       ...         ...       ...                 ...
86308055  tt9916850        11   nm1485677  director                  \N
86308076  tt9916852        11   nm1485677  director                  \N
86308095  tt9916856         9  nm10538645  director                  \N
86308118  tt9916880        17   nm0584014  director                  \N
86308119  tt9916880        18   nm0996406  director  principal director

         characters
1                \N
4                \N
6                \N
11               \N
18               \N
...             ...
86308055         \N
86308076         \N
86308095         \N
86308118         \N
86308119         \N

[7477304 rows x 6 columns]

In [88]:
movie_acting_roles = acting_roles[acting_roles['tconst'].isin(Movie['movieID'])]
movie_director_roles = director_roles[director_roles['tconst'].isin(Movie['movieID'])]

In [91]:
print(movie_director_roles)
print(movie_acting_roles)

             tconst  ordering      nconst  category                   job  \
30        tt0000009         4   nm0085156  director                    \N
332       tt0000147         6   nm0714557  director                    \N
1092      tt0000502         3   nm0063413  director                    \N
1345      tt0000574        11   nm0846879  director                    \N
1427      tt0000591         5   nm0141150  director                    \N
...             ...       ...         ...       ...                   ...
86306809  tt9916622        11   nm9272490  director  supervising director
86306964  tt9916680        11   nm0652213  director                    \N
86307103  tt9916706        11   nm7764440  director                    \N
86307168  tt9916730         9  nm10538612  director                    \N
86307216  tt9916754        11   nm9272490  director  supervising director

         characters
30               \N
332              \N
1092             \N
1345             \N
1427             \N
...             ...
86306809         \N
86306964         \N
86307103         \N
86307168         \N
86307216         \N

[651407 rows x 6 columns]
             tconst  ordering     nconst category job  \
27        tt0000009         1  nm0063086  actress  \N
28        tt0000009         2  nm0183823    actor  \N
29        tt0000009         3  nm1309758    actor  \N
1090      tt0000502         1  nm0215752    actor  \N
1091      tt0000502         2  nm0252720    actor  \N
...             ...       ...        ...      ...  ..
86307163  tt9916730         4  nm4852679    actor  \N
86307164  tt9916730         5  nm9050497    actor  \N
86307165  tt9916730         6  nm7365126  actress  \N
86307166  tt9916730         7  nm1576284  actress  \N
86307167  tt9916730         8  nm4289680    actor  \N

                                                 characters
27                 ["Miss Geraldine Holbrook (Miss Jerry)"]
28                                         ["Mr. Hamilton"]
29        ["Chauncey Depew - the Director of the New Yor...
1090                                                     \N
1091                                                     \N
...                                                     ...
86307163                                                 \N
86307164                                                 \N
86307165                                                 \N
86307166                                                 \N
86307167                                                 \N

[3716947 rows x 6 columns]

In [92]:
ActingRole = movie_acting_roles.drop(columns = ['ordering', 'category', 'job'])
DirectingRole = movie_director_roles.drop(columns = ['ordering', 'category', 'job', 'characters'])

In [93]:
print(ActingRole)
print(DirectingRole)

             tconst     nconst  \
27        tt0000009  nm0063086
28        tt0000009  nm0183823
29        tt0000009  nm1309758
1090      tt0000502  nm0215752
1091      tt0000502  nm0252720
...             ...        ...
86307163  tt9916730  nm4852679
86307164  tt9916730  nm9050497
86307165  tt9916730  nm7365126
86307166  tt9916730  nm1576284
86307167  tt9916730  nm4289680

                                                 characters
27                 ["Miss Geraldine Holbrook (Miss Jerry)"]
28                                         ["Mr. Hamilton"]
29        ["Chauncey Depew - the Director of the New Yor...
1090                                                     \N
1091                                                     \N
...                                                     ...
86307163                                                 \N
86307164                                                 \N
86307165                                                 \N
86307166                                                 \N
86307167                                                 \N

[3716947 rows x 3 columns]
             tconst      nconst
30        tt0000009   nm0085156
332       tt0000147   nm0714557
1092      tt0000502   nm0063413
1345      tt0000574   nm0846879
1427      tt0000591   nm0141150
...             ...         ...
86306809  tt9916622   nm9272490
86306964  tt9916680   nm0652213
86307103  tt9916706   nm7764440
86307168  tt9916730  nm10538612
86307216  tt9916754   nm9272490

[651407 rows x 2 columns]

In [94]:
ActingRole['characters'] = ActingRole['characters'].str.strip('["]').str.strip('"\']')
ActingRole = ActingRole.rename(columns={'characters': 'character'})

In [98]:
ActingRole = ActingRole.rename(columns={'tconst': 'movieID', 'nconst':'personID'})
DirectingRole = DirectingRole.rename(columns={'tconst': 'movieID', 'nconst':'personID'})

In [100]:
ActingRole.drop_duplicates(subset=['movieID', 'personID'], inplace=True)
DirectingRole.drop_duplicates(subset=['movieID', 'personID'], inplace=True)

In [101]:
print(ActingRole)
print(DirectingRole)

            movieID   personID  \
27        tt0000009  nm0063086
28        tt0000009  nm0183823
29        tt0000009  nm1309758
1090      tt0000502  nm0215752
1091      tt0000502  nm0252720
...             ...        ...
86307163  tt9916730  nm4852679
86307164  tt9916730  nm9050497
86307165  tt9916730  nm7365126
86307166  tt9916730  nm1576284
86307167  tt9916730  nm4289680

                                                  character
27                     Miss Geraldine Holbrook (Miss Jerry)
28                                             Mr. Hamilton
29        Chauncey Depew - the Director of the New York ...
1090                                                     \N
1091                                                     \N
...                                                     ...
86307163                                                 \N
86307164                                                 \N
86307165                                                 \N
86307166                                                 \N
86307167                                                 \N

[3654588 rows x 3 columns]
            movieID    personID
30        tt0000009   nm0085156
332       tt0000147   nm0714557
1092      tt0000502   nm0063413
1345      tt0000574   nm0846879
1427      tt0000591   nm0141150
...             ...         ...
86306809  tt9916622   nm9272490
86306964  tt9916680   nm0652213
86307103  tt9916706   nm7764440
86307168  tt9916730  nm10538612
86307216  tt9916754   nm9272490

[651407 rows x 2 columns]

In [102]:
names = pd.read_csv('name.basics.tsv', delimiter='\t', encoding='utf-8')

In [111]:
movie_people_acting = names[names['nconst'].isin(ActingRole['personID'])]
movie_people_directing = names[names['nconst'].isin(DirectingRole['personID'])]
Person = pd.concat([movie_people_acting, movie_people_directing]).drop_duplicates().reset_index(drop=True)

In [112]:
Person.drop(columns=['primaryProfession'], inplace=True)
Person = Person.rename(columns={'nconst': 'personID', 'primaryName':'name'})

In [113]:
print(Person)

          personID             name birthYear deathYear  \
0        nm0000001     Fred Astaire      1899      1987
1        nm0000002    Lauren Bacall      1924      2014
2        nm0000003  Brigitte Bardot      1934        \N
3        nm0000004     John Belushi      1949      1982
4        nm0000005   Ingmar Bergman      1918      2007
...            ...              ...       ...       ...
1393060  nm9992906      Dingli Diao        \N        \N
1393061  nm9993119        Soma Raju        \N        \N
1393062  nm9993205        João Brás        \N        \N
1393063  nm9993381    Zoltán Vékony        \N        \N
1393064  nm9993407            Vicky        \N        \N

                                      knownForTitles
0            tt0072308,tt0050419,tt0053137,tt0027125
1            tt0037382,tt0075213,tt0117057,tt0038355
2            tt0057345,tt0049189,tt0056404,tt0054452
3            tt0072562,tt0077975,tt0080455,tt0078723
4            tt0050986,tt0083922,tt0050976,tt0069467
...                                              ...
1393060                                    tt8742576
1393061                                    tt8742876
1393062  tt29425971,tt22614348,tt15192934,tt29142641
1393063                                    tt8743182
1393064                                    tt8743206

[1393065 rows x 5 columns]

In [115]:
KnownForTitles = Person.assign(knownForTitles=Person['knownForTitles'].str.split(','))
KnownForTitles = KnownForTitles.explode('knownForTitles').reset_index(drop=True)
KnownForTitles = pd.DataFrame({
    'personID': KnownForTitles['personID'],
    'movieID': KnownForTitles['knownForTitles']
})

In [117]:
KnownForTitles.drop_duplicates(inplace=True)

In [118]:
print(KnownForTitles)

          personID     movieID
0        nm0000001   tt0072308
1        nm0000001   tt0050419
2        nm0000001   tt0053137
3        nm0000001   tt0027125
4        nm0000002   tt0037382
...            ...         ...
3749147  nm9993205  tt22614348
3749148  nm9993205  tt15192934
3749149  nm9993205  tt29142641
3749150  nm9993381   tt8743182
3749151  nm9993407   tt8743206

[3749152 rows x 2 columns]

In [121]:
Person = Person.drop(columns = ['knownForTitles'])
print(Person)

          personID             name birthYear deathYear
0        nm0000001     Fred Astaire      1899      1987
1        nm0000002    Lauren Bacall      1924      2014
2        nm0000003  Brigitte Bardot      1934        \N
3        nm0000004     John Belushi      1949      1982
4        nm0000005   Ingmar Bergman      1918      2007
...            ...              ...       ...       ...
1393060  nm9992906      Dingli Diao        \N        \N
1393061  nm9993119        Soma Raju        \N        \N
1393062  nm9993205        João Brás        \N        \N
1393063  nm9993381    Zoltán Vékony        \N        \N
1393064  nm9993407            Vicky        \N        \N

[1393065 rows x 4 columns]

In [122]:
Movie.to_csv('Movie.csv', index=False)
Genre.to_csv('Genre.csv', index = False)
MovieGenres.to_csv('MovieGenre.csv', index=False)
Person.to_csv('Person.csv', index=False)
ActingRole.to_csv('ActingRole.csv', index=False)
DirectingRole.to_csv('DirectingRole.csv', index=False)
KnownForTitles.to_csv('KnownForTitle.csv', index=False)

In [146]:
url = "https://api.themoviedb.org/3/movie/now_playing?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5MTQ0NjAzMzhhNzc5Y2MyYTFjN2ZiZmY2YmFjYjYxYSIsInN1YiI6IjY2Njc1ZTg0ZjlkNjI5MGE0YmRkYjM3NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.w0fv3irOJl0C0xXLvSOxAqDxquEPXPOIe6BoOLP-e7A"
}

response = requests.get(url, headers=headers)

print(response.text)

{"dates":{"maximum":"2024-06-12","minimum":"2024-05-01"},"page":1,"results":[{"adult":false,"backdrop_path":"/fqv8v6AycXKsivp1T5yKtLbGXce.jpg","genre_ids":[878,12,28],"id":653346,"original_language":"en","original_title":"Kingdom of the Planet of the Apes","overview":"Several generations in the future following Caesar's reign, apes are now the dominant species and live harmoniously while humans have been reduced to living in the shadows. As a new tyrannical ape leader builds his empire, one young ape undertakes a harrowing journey that will cause him to question all that he has known about the past and to make choices that will define a future for apes and humans alike.","popularity":6245.898,"poster_path":"/gKkl37BQuKTanygYQG1pyYgLVgf.jpg","release_date":"2024-05-08","title":"Kingdom of the Planet of the Apes","video":false,"vote_average":6.895,"vote_count":866},{"adult":false,"backdrop_path":"/ga4OLm4qLxPqKLMzjJlqHxVjst3.jpg","genre_ids":[28,80,53],"id":573435,"original_language":"en","original_title":"Bad Boys: Ride or Die","overview":"After their late former Captain is framed, Lowrey and Burnett try to clear his name, only to end up on the run themselves.","popularity":2486.516,"poster_path":"/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg","release_date":"2024-06-05","title":"Bad Boys: Ride or Die","video":false,"vote_average":7.6,"vote_count":95},{"adult":false,"backdrop_path":"/z121dSTR7PY9KxKuvwiIFSYW8cf.jpg","genre_ids":[10752,28,18],"id":929590,"original_language":"en","original_title":"Civil War","overview":"In the near future, a group of war journalists attempt to survive while reporting the truth as the United States stands on the brink of civil war.","popularity":2730.901,"poster_path":"/sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg","release_date":"2024-04-10","title":"Civil War","video":false,"vote_average":7.065,"vote_count":1393},{"adult":false,"backdrop_path":"/oavbmL3iddJUmC8nQjL6bLHwAP4.jpg","genre_ids":[27,53],"id":719221,"original_language":"en","original_title":"Tarot","overview":"When a group of friends recklessly violate the sacred rule of Tarot readings, they unknowingly unleash an unspeakable evil trapped within the cursed cards. One by one, they come face to face with fate and end up in a race against death.","popularity":2349.378,"poster_path":"/gAEUXC37vl1SnM7PXsHTF23I2vq.jpg","release_date":"2024-05-01","title":"Tarot","video":false,"vote_average":6.517,"vote_count":390},{"adult":false,"backdrop_path":"/3TNSoa0UHGEzEz5ndXGjJVKo8RJ.jpg","genre_ids":[878,28],"id":614933,"original_language":"en","original_title":"Atlas","overview":"A brilliant counterterrorism analyst with a deep distrust of AI discovers it might be her only hope when a mission to capture a renegade robot goes awry.","popularity":1828.902,"poster_path":"/bcM2Tl5HlsvPBnL8DKP9Ie6vU4r.jpg","release_date":"2024-05-23","title":"Atlas","video":false,"vote_average":6.735,"vote_count":659},{"adult":false,"backdrop_path":"/H5HjE7Xb9N09rbWn1zBfxgI8uz.jpg","genre_ids":[28,35],"id":746036,"original_language":"en","original_title":"The Fall Guy","overview":"Fresh off an almost career-ending accident, stuntman Colt Seavers has to track down a missing movie star, solve a conspiracy and try to win back the love of his life while still doing his day job.","popularity":1382.602,"poster_path":"/tSz1qsmSJon0rqjHBxXZmrotuse.jpg","release_date":"2024-04-24","title":"The Fall Guy","video":false,"vote_average":7.288,"vote_count":1117},{"adult":false,"backdrop_path":"/uVu2fBc114un7F1GD76RBouWyBP.jpg","genre_ids":[16,10751,18,12,35],"id":1022789,"original_language":"en","original_title":"Inside Out 2","overview":"Teenager Riley's mind headquarters is undergoing a sudden demolition to make room for something entirely unexpected: new Emotions! Joy, Sadness, Anger, Fear and Disgust, who’ve long been running a successful operation by all accounts, aren’t sure how to feel when Anxiety shows up. And it looks like she’s not alone.","popularity":1350.605,"poster_path":"/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg","release_date":"2024-06-12","title":"Inside Out 2","video":false,"vote_average":8.3,"vote_count":15},{"adult":false,"backdrop_path":"/1m1rXopfNDVL3UMiv6kriYaJ3yE.jpg","genre_ids":[28,53,80,878],"id":882059,"original_language":"en","original_title":"Boy Kills World","overview":"When his family is murdered, a deaf-mute named Boy escapes to the jungle and is trained by a mysterious shaman to repress his childish imagination and become an instrument of death.","popularity":934.001,"poster_path":"/25JskXmchcYwj3jHRmcPm738MpB.jpg","release_date":"2024-04-24","title":"Boy Kills World","video":false,"vote_average":6.9,"vote_count":258},{"adult":false,"backdrop_path":"/shrwC6U8Bkst9T9J7fr1A50n6x6.jpg","genre_ids":[28,12,878],"id":786892,"original_language":"en","original_title":"Furiosa: A Mad Max Saga","overview":"As the world fell, young Furiosa is snatched from the Green Place of Many Mothers and falls into the hands of a great Biker Horde led by the Warlord Dementus. Sweeping through the Wasteland they come across the Citadel presided over by The Immortan Joe. While the two Tyrants war for dominance, Furiosa must survive many trials as she puts together the means to find her way home.","popularity":1122.616,"poster_path":"/iADOJ8Zymht2JPMoy3R7xceZprc.jpg","release_date":"2024-05-22","title":"Furiosa: A Mad Max Saga","video":false,"vote_average":7.7,"vote_count":785},{"adult":false,"backdrop_path":"/vWzJDjLPmycnQ42IppEjMpIhrhc.jpg","genre_ids":[16,35,10751,12],"id":748783,"original_language":"en","original_title":"The Garfield Movie","overview":"Garfield, the world-famous, Monday-hating, lasagna-loving indoor cat, is about to have a wild outdoor adventure! After an unexpected reunion with his long-lost father – scruffy street cat Vic – Garfield and his canine friend Odie are forced from their perfectly pampered life into joining Vic in a hilarious, high-stakes heist.","popularity":798.717,"poster_path":"/p6AbOJvMQhBmffd0PIv0u8ghWeY.jpg","release_date":"2024-04-30","title":"The Garfield Movie","video":false,"vote_average":6.4,"vote_count":154},{"adult":false,"backdrop_path":"/5Eip60UDiPLASyKjmHPMruggTc4.jpg","genre_ids":[27,9648,53],"id":1041613,"original_language":"en","original_title":"Immaculate","overview":"An American nun embarks on a new journey when she joins a remote convent in the Italian countryside. However, her warm welcome quickly turns into a living nightmare when she discovers her new home harbours a sinister secret and unspeakable horrors.","popularity":828.297,"poster_path":"/fdZpvODTX5wwkD0ikZNaClE4AoW.jpg","release_date":"2024-03-20","title":"Immaculate","video":false,"vote_average":6.277,"vote_count":574},{"adult":false,"backdrop_path":"/2aBDIqdSchYcPnkXqMRctRfYjSV.jpg","genre_ids":[27,53],"id":1264966,"original_language":"en","original_title":"Silence of the Prey","overview":"In a desperate bid to secure a future for her child, an undocumented immigrant mother takes a caretaker job. Unbeknownst to her, the elderly man conceals a horrifying truth.","popularity":721.57,"poster_path":"/xRKmXt7036pVZ0OMNgzLsGa26pX.jpg","release_date":"2024-05-14","title":"Silence of the Prey","video":false,"vote_average":2.167,"vote_count":3},{"adult":false,"backdrop_path":"/rZ8VxBH8QRHGQi9YztBRm3eAsxL.jpg","genre_ids":[14,10751],"id":1279104,"original_language":"en","original_title":"The Legend of Catclaws Mountain","overview":"Mindy adopts Angel, a high-spirited pony that—according to legend—will lead its owner to gold hidden in the nearby mountains. When Angel is kidnapped by a mad treasure hunter, Mindy and her school friends head into the hills to rescue the pony and hunt for the lost gold. But Mindy meets a mountain man that warns her the treasure is part of an ancient curse—if they remove the gold, they'll destroy the beautiful forest.","popularity":623.277,"poster_path":"/4T3Gz4ZC8H6kaEpq56S4j3mI40L.jpg","release_date":"2024-05-27","title":"The Legend of Catclaws Mountain","video":false,"vote_average":4.667,"vote_count":3},{"adult":false,"backdrop_path":"/oZDRuGHhe5uY8wBqFJcJZT9kdvJ.jpg","genre_ids":[27,9648,53],"id":1086747,"original_language":"en","original_title":"The Watchers","overview":"When 28-year-old artist Mina finds shelter after getting stranded in an expansive, untouched forest in western Ireland, she unknowingly becomes trapped alongside three strangers that are watched and stalked by mysterious creatures each night.","popularity":499.887,"poster_path":"/vZVEUPychdvZLrTNwWErr9xZFmu.jpg","release_date":"2024-06-06","title":"The Watchers","video":false,"vote_average":5.8,"vote_count":53},{"adult":false,"backdrop_path":"/nb3xI8XI3w4pMVZ38VijbsyBqP4.jpg","genre_ids":[18,36],"id":872585,"original_language":"en","original_title":"Oppenheimer","overview":"The story of J. Robert Oppenheimer's role in the development of the atomic bomb during World War II.","popularity":444.346,"poster_path":"/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg","release_date":"2023-07-19","title":"Oppenheimer","video":false,"vote_average":8.093,"vote_count":8272},{"adult":false,"backdrop_path":"/xQkotnzv12fm9FF29if1cBLsyU3.jpg","genre_ids":[53,27,28,9648],"id":1001311,"original_language":"fr","original_title":"Sous la Seine","overview":"In the Summer of 2024, Paris is hosting the World Triathlon Championships on the Seine for the first time. Sophia, a brilliant scientist, learns from Mika, a young environmental activist, that a large shark is swimming deep in the river. To avoid a bloodbath at the heart of the city, they have no choice but to join forces with Adil, the Seine river police commander.","popularity":609.854,"poster_path":"/qZPLK5ktRKa3CL4sKRZtj8UlPYc.jpg","release_date":"2024-06-05","title":"Under Paris","video":false,"vote_average":5.768,"vote_count":263},{"adult":false,"backdrop_path":"/AuKXTyCVzeIdtTe1NAQnJa1ZC7I.jpg","genre_ids":[16,14,10751],"id":739547,"original_language":"en","original_title":"Thelma the Unicorn","overview":"Thelma dreams of being a glamorous unicorn. Then in a rare pink and glitter-filled moment of fate, Thelma's wish comes true. She rises to instant international stardom, but at an unexpected cost. After a while, Thelma realizes that she was happier as her ordinary, sparkle-free self. So she ditches her horn, scrubs off her sparkles, and returns home, where her best friend is waiting for her with a hug.","popularity":464.677,"poster_path":"/yutiEZ7taGDNau2jGjKIdDwQpDw.jpg","release_date":"2024-05-17","title":"Thelma the Unicorn","video":false,"vote_average":6.9,"vote_count":92},{"adult":false,"backdrop_path":"/mYPsDej53aibXId6BSxb3Q5fAHg.jpg","genre_ids":[9648,53,80,18],"id":978592,"original_language":"en","original_title":"Sleeping Dogs","overview":"Roy Freeman, an ex-homicide detective with a fractured memory, is forced to revisit a case he can't remember. As a man's life hangs in the balance on death row, Freeman must piece together the brutal evidence from a decade-old murder investigation, uncovering a sinister web of buried secrets and betrayals linking to his past. With only instincts to trust, he faces a chilling truth - sometimes, it's best to let sleeping dogs lie.","popularity":430.006,"poster_path":"/5DwQhh1HvTo7edaOeMX49NUyZqy.jpg","release_date":"2024-03-21","title":"Sleeping Dogs","video":false,"vote_average":7.083,"vote_count":162},{"adult":false,"backdrop_path":"/rmNlWyez5cniGtXkgixG1ezdqVk.jpg","genre_ids":[28,53],"id":1093995,"original_language":"en","original_title":"Chief of Station","overview":"After learning that the death of his wife was not an accident, a former CIA Station Chief is forced back into the espionage underworld, teaming up with an adversary to unravel a conspiracy that challenges everything he thought he knew.","popularity":482.827,"poster_path":"/uuA01PTtPombRPvL9dvsBqOBJWm.jpg","release_date":"2024-05-02","title":"Chief of Station","video":false,"vote_average":5.352,"vote_count":44},{"adult":false,"backdrop_path":"/k37Ccgu05Am1xxgN5GaW0HX9Kkl.jpg","genre_ids":[27,53],"id":1087388,"original_language":"en","original_title":"Sting","overview":"After raising an unnervingly talented spider in secret, 12-year-old Charlotte must face the truth about her pet and fight for her family's survival.","popularity":507.774,"poster_path":"/zuSAZIG1PSrxFwPeAlGtg9LTwxo.jpg","release_date":"2024-04-12","title":"Sting","video":false,"vote_average":6.386,"vote_count":114}],"total_pages":247,"total_results":4924}

In [159]:
if response.status_code == 200:
    json_response = response.json()
    movies_data = [(movie['original_title'], movie['poster_path'], movie['genre_ids']) for movie in json_response.get('results', [])]
    df = pd.DataFrame(movies_data, columns=['Original Title', 'Poster Path', 'Genre IDs'])
    print(df)
else:
    print("Error:", response.status_code)

                       Original Title                       Poster Path  \
0   Kingdom of the Planet of the Apes  /gKkl37BQuKTanygYQG1pyYgLVgf.jpg
1               Bad Boys: Ride or Die  /nP6RliHjxsz4irTKsxe8FRhKZYl.jpg
2                           Civil War  /sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg
3                               Tarot  /gAEUXC37vl1SnM7PXsHTF23I2vq.jpg
4                               Atlas  /bcM2Tl5HlsvPBnL8DKP9Ie6vU4r.jpg
5                        The Fall Guy  /tSz1qsmSJon0rqjHBxXZmrotuse.jpg
6                        Inside Out 2  /vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg
7                     Boy Kills World  /25JskXmchcYwj3jHRmcPm738MpB.jpg
8             Furiosa: A Mad Max Saga  /iADOJ8Zymht2JPMoy3R7xceZprc.jpg
9                  The Garfield Movie  /p6AbOJvMQhBmffd0PIv0u8ghWeY.jpg
10                         Immaculate  /fdZpvODTX5wwkD0ikZNaClE4AoW.jpg
11                Silence of the Prey  /xRKmXt7036pVZ0OMNgzLsGa26pX.jpg
12    The Legend of Catclaws Mountain  /4T3Gz4ZC8H6kaEpq56S4j3mI40L.jpg
13                       The Watchers  /vZVEUPychdvZLrTNwWErr9xZFmu.jpg
14                        Oppenheimer  /8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg
15                      Sous la Seine  /qZPLK5ktRKa3CL4sKRZtj8UlPYc.jpg
16                 Thelma the Unicorn  /yutiEZ7taGDNau2jGjKIdDwQpDw.jpg
17                      Sleeping Dogs  /5DwQhh1HvTo7edaOeMX49NUyZqy.jpg
18                   Chief of Station  /uuA01PTtPombRPvL9dvsBqOBJWm.jpg
19                              Sting  /zuSAZIG1PSrxFwPeAlGtg9LTwxo.jpg

                  Genre IDs
0             [878, 12, 28]
1              [28, 80, 53]
2           [10752, 28, 18]
3                  [27, 53]
4                 [878, 28]
5                  [28, 35]
6   [16, 10751, 18, 12, 35]
7         [28, 53, 80, 878]
8             [28, 12, 878]
9       [16, 35, 10751, 12]
10           [27, 9648, 53]
11                 [27, 53]
12              [14, 10751]
13           [27, 9648, 53]
14                 [18, 36]
15       [53, 27, 28, 9648]
16          [16, 14, 10751]
17       [9648, 53, 80, 18]
18                 [28, 53]
19                 [27, 53]

In [154]:
#For poster path, prefix https://image.tmdb.org/t/p/w500/ to the name in the table.

TypeError: 'Response' object is not subscriptable

In [164]:
url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5MTQ0NjAzMzhhNzc5Y2MyYTFjN2ZiZmY2YmFjYjYxYSIsInN1YiI6IjY2Njc1ZTg0ZjlkNjI5MGE0YmRkYjM3NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.w0fv3irOJl0C0xXLvSOxAqDxquEPXPOIe6BoOLP-e7A"
}

response = requests.get(url, headers=headers)

print(response.text)

{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}

In [165]:
if response.status_code == 200:
    json_response = response.json() 
    genres_data = [(genre['id'], genre['name']) for genre in json_response.get('genres', [])]
    df = pd.DataFrame(genres_data, columns=['Genre ID', 'Genre Name'])
    print(df)
else:
    print("Error:", response.status_code)

    Genre ID       Genre Name
0         28           Action
1         12        Adventure
2         16        Animation
3         35           Comedy
4         80            Crime
5         99      Documentary
6         18            Drama
7      10751           Family
8         14          Fantasy
9         36          History
10        27           Horror
11     10402            Music
12      9648          Mystery
13     10749          Romance
14       878  Science Fiction
15     10770         TV Movie
16        53         Thriller
17     10752              War
18        37          Western