In [22]:
!pip install pymysql
!pip install wikipedia

Requirement already satisfied: pymysql in c:\python312\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting wikipedia
  Using cached wikipedia-1.4.0-py3-none-any.whl
Collecting beautifulsoup4 (from wikipedia)
  Using cached beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting requests<3.0.0,>=2.0.0 (from wikipedia)
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python312\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\python312\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python312\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.2.2)
Collecting certifi>=2017.4.17 (from requests<3.0.0,>=2.0.0->wikipedia)
  Using cached certifi-2024.7.4-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: soupsieve>1.2 in c:\python312\lib\site-packages (from beautifulsoup4->wikipedia) (2.5)
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Using cached beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
Using cached certifi-2024.7.4-py3-none-any.whl (162 kB)
Installing collected packages: certifi, beautifulsoup4, requests, wikipedia
Successfully installed beautifulsoup4-4.12.3 certifi-2024.7.4 requests-2.32.3 wikipedia-1.4.0

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pymysql
import csv
import numpy as np
import pandas as pd
import requests
from IPython.display import Image, display
import wikipedia
import hashlib
import time
import json

In [24]:
titles = pd.read_csv('title.basics.tsv', delimiter='\t', encoding='utf-8')

C:\Users\jedba\AppData\Local\Temp\ipykernel_53144\2741386651.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titles = pd.read_csv('title.basics.tsv', delimiter='\t', encoding='utf-8')

In [25]:
Movie = titles[(titles['titleType'] == 'movie') & (titles['isAdult'] == 0)]
Movie = Movie.drop(columns=['endYear', 'titleType', 'isAdult', 'originalTitle'])
Movie = Movie.rename(columns={'tconst': 'movieID', 'primaryTitle':'title', 'startYear': 'releaseYear'})

In [26]:
print(Movie)
print(min(set(Movie['releaseYear'])))

            movieID                                              title  \
8         tt0000009                                         Miss Jerry
144       tt0000147                      The Corbett-Fitzsimmons Fight
498       tt0000502                                           Bohemios
570       tt0000574                        The Story of the Kelly Gang
587       tt0000591                                   The Prodigal Son
...             ...                                                ...
10823335  tt9916622        Rodolpho Teóphilo - O Legado de um Pioneiro
10823362  tt9916680  De la ilusión al desconcierto: cine colombiano...
10823374  tt9916706                                    Dankyavar Danka
10823384  tt9916730                                             6 Gunn
10823394  tt9916754                     Chico Albuquerque - Revelações

         releaseYear runtimeMinutes                      genres
8               1894             45                     Romance
144             1897            100      Documentary,News,Sport
498             1905            100                          \N
570             1906             70  Action,Adventure,Biography
587             1907             90                       Drama
...              ...            ...                         ...
10823335        2015             57                 Documentary
10823362        2007            100                 Documentary
10823374        2013             \N                      Comedy
10823384        2017            116                       Drama
10823394        2013             49                 Documentary

[670604 rows x 5 columns]
1894

In [27]:
import requests

url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5MTQ0NjAzMzhhNzc5Y2MyYTFjN2ZiZmY2YmFjYjYxYSIsIm5iZiI6MTcxOTk3MDMxOC4zOTEwODEsInN1YiI6IjY2Njc1ZTg0ZjlkNjI5MGE0YmRkYjM3NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9qM0vHqXCj8eOXw5evxNitTQR8NTqj9c4hGsx4IPFVQ"
}

response = requests.get(url, headers=headers)

print(response.text)

{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}

In [28]:
json_response = json.loads(response.text)
genres_list = json_response['genres']
Genre = pd.DataFrame(genres_list).rename(columns={'id': 'genreID', 'name': 'genre'})

In [29]:
print(Genre)

    genreID            genre
0        28           Action
1        12        Adventure
2        16        Animation
3        35           Comedy
4        80            Crime
5        99      Documentary
6        18            Drama
7     10751           Family
8        14          Fantasy
9        36          History
10       27           Horror
11    10402            Music
12     9648          Mystery
13    10749          Romance
14      878  Science Fiction
15    10770         TV Movie
16       53         Thriller
17    10752              War
18       37          Western

In [30]:
MovieGenres = Movie[['movieID', 'genres']]

In [31]:
print(MovieGenres)

            movieID                      genres
8         tt0000009                     Romance
144       tt0000147      Documentary,News,Sport
498       tt0000502                          \N
570       tt0000574  Action,Adventure,Biography
587       tt0000591                       Drama
...             ...                         ...
10823335  tt9916622                 Documentary
10823362  tt9916680                 Documentary
10823374  tt9916706                      Comedy
10823384  tt9916730                       Drama
10823394  tt9916754                 Documentary

[670604 rows x 2 columns]

In [32]:
def replace_genres(genres):
    replacements = {'Sci-Fi': 'Science Fiction',
                    'Musical': 'Music',
                    'Sport': 'History',
                    'Talk-Show': 'TV Movie',
                    'News': 'Documentary',
                    'Reality-TV': 'TV Movie',
                    'Film-Noir': 'Crime',
                    'Game-Show': 'TV Movie',
                    'Biography': 'Documentary'}
    return ','.join(replacements.get(genre.strip(), genre) for genre in genres.split(','))

MovieGenres['genres'] = MovieGenres['genres'].apply(replace_genres)

C:\Users\jedba\AppData\Local\Temp\ipykernel_53144\599487517.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MovieGenres['genres'] = MovieGenres['genres'].apply(replace_genres)

In [33]:
def replace_with_genre_ids(genres_str):
    genre_ids = []
    for genre in genres_str.split(','):
        genre_id = Genre[Genre['genre'] == genre]['genreID'].values
        if len(genre_id) > 0:
            genre_ids.append(genre_id[0])
    return genre_ids

MovieGenres['genres'] = MovieGenres['genres'].str.split(',')
MovieGenres = MovieGenres.explode('genres').reset_index(drop=True)
MovieGenres = MovieGenres[MovieGenres['genres'] != '\\N']

MovieGenres['genreIDs'] = MovieGenres['genres'].apply(replace_with_genre_ids)

print(MovieGenres)

C:\Users\jedba\AppData\Local\Temp\ipykernel_53144\2734654599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MovieGenres['genres'] = MovieGenres['genres'].str.split(',')

          movieID       genres genreIDs
0       tt0000009      Romance  [10749]
1       tt0000147  Documentary     [99]
2       tt0000147  Documentary     [99]
3       tt0000147      History     [36]
5       tt0000574       Action     [28]
...           ...          ...      ...
987758  tt9916622  Documentary     [99]
987759  tt9916680  Documentary     [99]
987760  tt9916706       Comedy     [35]
987761  tt9916730        Drama     [18]
987762  tt9916754  Documentary     [99]

[913515 rows x 3 columns]

In [34]:
MovieGenres.drop(columns=['genres'], inplace=True)
MovieGenres['genreID'] = MovieGenres['genreIDs'].apply(lambda x: x[0] if len(x) > 0 else None)
MovieGenres.drop(columns=['genreIDs'], inplace=True)
MovieGenres.drop_duplicates(subset=['movieID', 'genreID'], inplace=True)
print(MovieGenres)

          movieID  genreID
0       tt0000009    10749
1       tt0000147       99
3       tt0000147       36
5       tt0000574       28
6       tt0000574       12
...           ...      ...
987758  tt9916622       99
987759  tt9916680       99
987760  tt9916706       35
987761  tt9916730       18
987762  tt9916754       99

[901850 rows x 2 columns]

In [35]:
Movie.drop(columns=['genres'], inplace=True)

In [36]:
print(Movie)
print(Genre)
print(MovieGenres)

            movieID                                              title  \
8         tt0000009                                         Miss Jerry
144       tt0000147                      The Corbett-Fitzsimmons Fight
498       tt0000502                                           Bohemios
570       tt0000574                        The Story of the Kelly Gang
587       tt0000591                                   The Prodigal Son
...             ...                                                ...
10823335  tt9916622        Rodolpho Teóphilo - O Legado de um Pioneiro
10823362  tt9916680  De la ilusión al desconcierto: cine colombiano...
10823374  tt9916706                                    Dankyavar Danka
10823384  tt9916730                                             6 Gunn
10823394  tt9916754                     Chico Albuquerque - Revelações

         releaseYear runtimeMinutes
8               1894             45
144             1897            100
498             1905            100
570             1906             70
587             1907             90
...              ...            ...
10823335        2015             57
10823362        2007            100
10823374        2013             \N
10823384        2017            116
10823394        2013             49

[670604 rows x 4 columns]
    genreID            genre
0        28           Action
1        12        Adventure
2        16        Animation
3        35           Comedy
4        80            Crime
5        99      Documentary
6        18            Drama
7     10751           Family
8        14          Fantasy
9        36          History
10       27           Horror
11    10402            Music
12     9648          Mystery
13    10749          Romance
14      878  Science Fiction
15    10770         TV Movie
16       53         Thriller
17    10752              War
18       37          Western
          movieID  genreID
0       tt0000009    10749
1       tt0000147       99
3       tt0000147       36
5       tt0000574       28
6       tt0000574       12
...           ...      ...
987758  tt9916622       99
987759  tt9916680       99
987760  tt9916706       35
987761  tt9916730       18
987762  tt9916754       99

[901850 rows x 2 columns]

In [37]:
roles = pd.read_csv('title.principals.tsv', delimiter='\t', encoding='utf-8')

In [38]:
print(set(roles['category']))

{'self', 'producer', 'writer', 'casting_director', 'actress', 'archive_sound', 'cinematographer', 'actor', 'editor', 'composer', 'production_designer', 'director', 'archive_footage'}

In [39]:
acting_roles = roles[roles['category'].isin(['actor', 'actress'])]
director_roles = roles[roles['category'] == 'director']

In [40]:
print(director_roles)

             tconst  ordering      nconst  category                 job  \
1         tt0000001         2   nm0005690  director                  \N
4         tt0000002         1   nm0721526  director                  \N
6         tt0000003         1   nm0721526  director                  \N
11        tt0000004         1   nm0721526  director                  \N
18        tt0000007         3   nm0005690  director                  \N
...             ...       ...         ...       ...                 ...
86308055  tt9916850        11   nm1485677  director                  \N
86308076  tt9916852        11   nm1485677  director                  \N
86308095  tt9916856         9  nm10538645  director                  \N
86308118  tt9916880        17   nm0584014  director                  \N
86308119  tt9916880        18   nm0996406  director  principal director

         characters
1                \N
4                \N
6                \N
11               \N
18               \N
...             ...
86308055         \N
86308076         \N
86308095         \N
86308118         \N
86308119         \N

[7477304 rows x 6 columns]

In [41]:
movie_acting_roles = acting_roles[acting_roles['tconst'].isin(Movie['movieID'])]
movie_director_roles = director_roles[director_roles['tconst'].isin(Movie['movieID'])]

In [42]:
print(movie_director_roles)
print(movie_acting_roles)

             tconst  ordering      nconst  category                   job  \
30        tt0000009         4   nm0085156  director                    \N
332       tt0000147         6   nm0714557  director                    \N
1092      tt0000502         3   nm0063413  director                    \N
1345      tt0000574        11   nm0846879  director                    \N
1427      tt0000591         5   nm0141150  director                    \N
...             ...       ...         ...       ...                   ...
86306809  tt9916622        11   nm9272490  director  supervising director
86306964  tt9916680        11   nm0652213  director                    \N
86307103  tt9916706        11   nm7764440  director                    \N
86307168  tt9916730         9  nm10538612  director                    \N
86307216  tt9916754        11   nm9272490  director  supervising director

         characters
30               \N
332              \N
1092             \N
1345             \N
1427             \N
...             ...
86306809         \N
86306964         \N
86307103         \N
86307168         \N
86307216         \N

[651407 rows x 6 columns]
             tconst  ordering     nconst category job  \
27        tt0000009         1  nm0063086  actress  \N
28        tt0000009         2  nm0183823    actor  \N
29        tt0000009         3  nm1309758    actor  \N
1090      tt0000502         1  nm0215752    actor  \N
1091      tt0000502         2  nm0252720    actor  \N
...             ...       ...        ...      ...  ..
86307163  tt9916730         4  nm4852679    actor  \N
86307164  tt9916730         5  nm9050497    actor  \N
86307165  tt9916730         6  nm7365126  actress  \N
86307166  tt9916730         7  nm1576284  actress  \N
86307167  tt9916730         8  nm4289680    actor  \N

                                                 characters
27                 ["Miss Geraldine Holbrook (Miss Jerry)"]
28                                         ["Mr. Hamilton"]
29        ["Chauncey Depew - the Director of the New Yor...
1090                                                     \N
1091                                                     \N
...                                                     ...
86307163                                                 \N
86307164                                                 \N
86307165                                                 \N
86307166                                                 \N
86307167                                                 \N

[3716947 rows x 6 columns]

In [43]:
ActingRole = movie_acting_roles.drop(columns = ['ordering', 'category', 'job'])
DirectingRole = movie_director_roles.drop(columns = ['ordering', 'category', 'job', 'characters'])

In [44]:
print(ActingRole)
print(DirectingRole)

             tconst     nconst  \
27        tt0000009  nm0063086
28        tt0000009  nm0183823
29        tt0000009  nm1309758
1090      tt0000502  nm0215752
1091      tt0000502  nm0252720
...             ...        ...
86307163  tt9916730  nm4852679
86307164  tt9916730  nm9050497
86307165  tt9916730  nm7365126
86307166  tt9916730  nm1576284
86307167  tt9916730  nm4289680

                                                 characters
27                 ["Miss Geraldine Holbrook (Miss Jerry)"]
28                                         ["Mr. Hamilton"]
29        ["Chauncey Depew - the Director of the New Yor...
1090                                                     \N
1091                                                     \N
...                                                     ...
86307163                                                 \N
86307164                                                 \N
86307165                                                 \N
86307166                                                 \N
86307167                                                 \N

[3716947 rows x 3 columns]
             tconst      nconst
30        tt0000009   nm0085156
332       tt0000147   nm0714557
1092      tt0000502   nm0063413
1345      tt0000574   nm0846879
1427      tt0000591   nm0141150
...             ...         ...
86306809  tt9916622   nm9272490
86306964  tt9916680   nm0652213
86307103  tt9916706   nm7764440
86307168  tt9916730  nm10538612
86307216  tt9916754   nm9272490

[651407 rows x 2 columns]

In [45]:
ActingRole['characters'] = ActingRole['characters'].str.strip('["]').str.strip('"\']')
ActingRole = ActingRole.rename(columns={'characters': 'character'})

In [46]:
ActingRole = ActingRole.rename(columns={'tconst': 'movieID', 'nconst':'personID'})
DirectingRole = DirectingRole.rename(columns={'tconst': 'movieID', 'nconst':'personID'})

In [47]:
ActingRole.drop_duplicates(subset=['movieID', 'personID'], inplace=True)
DirectingRole.drop_duplicates(subset=['movieID', 'personID'], inplace=True)

In [48]:
print(ActingRole)
print(DirectingRole)

            movieID   personID  \
27        tt0000009  nm0063086
28        tt0000009  nm0183823
29        tt0000009  nm1309758
1090      tt0000502  nm0215752
1091      tt0000502  nm0252720
...             ...        ...
86307163  tt9916730  nm4852679
86307164  tt9916730  nm9050497
86307165  tt9916730  nm7365126
86307166  tt9916730  nm1576284
86307167  tt9916730  nm4289680

                                                  character
27                     Miss Geraldine Holbrook (Miss Jerry)
28                                             Mr. Hamilton
29        Chauncey Depew - the Director of the New York ...
1090                                                     \N
1091                                                     \N
...                                                     ...
86307163                                                 \N
86307164                                                 \N
86307165                                                 \N
86307166                                                 \N
86307167                                                 \N

[3654588 rows x 3 columns]
            movieID    personID
30        tt0000009   nm0085156
332       tt0000147   nm0714557
1092      tt0000502   nm0063413
1345      tt0000574   nm0846879
1427      tt0000591   nm0141150
...             ...         ...
86306809  tt9916622   nm9272490
86306964  tt9916680   nm0652213
86307103  tt9916706   nm7764440
86307168  tt9916730  nm10538612
86307216  tt9916754   nm9272490

[651407 rows x 2 columns]

In [49]:
names = pd.read_csv('name.basics.tsv', delimiter='\t', encoding='utf-8')

In [50]:
movie_people_acting = names[names['nconst'].isin(ActingRole['personID'])]
movie_people_directing = names[names['nconst'].isin(DirectingRole['personID'])]
Person = pd.concat([movie_people_acting, movie_people_directing]).drop_duplicates().reset_index(drop=True)

In [51]:
Person.drop(columns=['primaryProfession'], inplace=True)
Person = Person.rename(columns={'nconst': 'personID', 'primaryName':'name'})

In [52]:
print(Person)

          personID             name birthYear deathYear  \
0        nm0000001     Fred Astaire      1899      1987
1        nm0000002    Lauren Bacall      1924      2014
2        nm0000003  Brigitte Bardot      1934        \N
3        nm0000004     John Belushi      1949      1982
4        nm0000005   Ingmar Bergman      1918      2007
...            ...              ...       ...       ...
1393060  nm9992906      Dingli Diao        \N        \N
1393061  nm9993119        Soma Raju        \N        \N
1393062  nm9993205        João Brás        \N        \N
1393063  nm9993381    Zoltán Vékony        \N        \N
1393064  nm9993407            Vicky        \N        \N

                                      knownForTitles
0            tt0072308,tt0050419,tt0053137,tt0027125
1            tt0037382,tt0075213,tt0117057,tt0038355
2            tt0057345,tt0049189,tt0056404,tt0054452
3            tt0072562,tt0077975,tt0080455,tt0078723
4            tt0050986,tt0083922,tt0050976,tt0069467
...                                              ...
1393060                                    tt8742576
1393061                                    tt8742876
1393062  tt29425971,tt22614348,tt15192934,tt29142641
1393063                                    tt8743182
1393064                                    tt8743206

[1393065 rows x 5 columns]

In [53]:
KnownForTitles = Person.assign(knownForTitles=Person['knownForTitles'].str.split(','))
KnownForTitles = KnownForTitles.explode('knownForTitles').reset_index(drop=True)
KnownForTitles = pd.DataFrame({
    'personID': KnownForTitles['personID'],
    'movieID': KnownForTitles['knownForTitles']
})

In [54]:
KnownForTitles.drop_duplicates(inplace=True)

In [55]:
print(KnownForTitles)

          personID     movieID
0        nm0000001   tt0072308
1        nm0000001   tt0050419
2        nm0000001   tt0053137
3        nm0000001   tt0027125
4        nm0000002   tt0037382
...            ...         ...
3749147  nm9993205  tt22614348
3749148  nm9993205  tt15192934
3749149  nm9993205  tt29142641
3749150  nm9993381   tt8743182
3749151  nm9993407   tt8743206

[3749152 rows x 2 columns]

In [56]:
Person = Person.drop(columns = ['knownForTitles'])
print(Person)

          personID             name birthYear deathYear
0        nm0000001     Fred Astaire      1899      1987
1        nm0000002    Lauren Bacall      1924      2014
2        nm0000003  Brigitte Bardot      1934        \N
3        nm0000004     John Belushi      1949      1982
4        nm0000005   Ingmar Bergman      1918      2007
...            ...              ...       ...       ...
1393060  nm9992906      Dingli Diao        \N        \N
1393061  nm9993119        Soma Raju        \N        \N
1393062  nm9993205        João Brás        \N        \N
1393063  nm9993381    Zoltán Vékony        \N        \N
1393064  nm9993407            Vicky        \N        \N

[1393065 rows x 4 columns]

In [57]:
ratings = pd.read_csv('title.ratings.tsv', delimiter='\t', encoding='utf-8')
ratings = ratings.rename(columns={'tconst': 'movieID'})
print(ratings)

           movieID  averageRating  numVotes
0        tt0000001            5.7      2059
1        tt0000002            5.6       277
2        tt0000003            6.5      2021
3        tt0000004            5.3       180
4        tt0000005            6.2      2787
...            ...            ...       ...
1445119  tt9916730            7.0        12
1445120  tt9916766            7.1        23
1445121  tt9916778            7.2        36
1445122  tt9916840            7.2        10
1445123  tt9916880            8.6         8

[1445124 rows x 3 columns]

In [58]:
movies_merged = pd.merge(Movie, ratings, on='movieID', how='left')
Movie = movies_merged.rename(columns={'averageRating': 'rating'})
Movie = Movie.drop(columns = ['numVotes'])
print(Movie)

          movieID                                              title  \
0       tt0000009                                         Miss Jerry
1       tt0000147                      The Corbett-Fitzsimmons Fight
2       tt0000502                                           Bohemios
3       tt0000574                        The Story of the Kelly Gang
4       tt0000591                                   The Prodigal Son
...           ...                                                ...
670599  tt9916622        Rodolpho Teóphilo - O Legado de um Pioneiro
670600  tt9916680  De la ilusión al desconcierto: cine colombiano...
670601  tt9916706                                    Dankyavar Danka
670602  tt9916730                                             6 Gunn
670603  tt9916754                     Chico Albuquerque - Revelações

       releaseYear runtimeMinutes  rating
0             1894             45     5.4
1             1897            100     5.2
2             1905            100     4.4
3             1906             70     6.0
4             1907             90     5.4
...            ...            ...     ...
670599        2015             57     NaN
670600        2007            100     NaN
670601        2013             \N     7.6
670602        2017            116     7.0
670603        2013             49     NaN

[670604 rows x 5 columns]

In [69]:
KnownForTitles = KnownForTitles[KnownForTitles['movieID'].isin(Movie['movieID'])]

In [70]:
Movie.to_csv('Movie.csv', index=False)
Genre.to_csv('Genre.csv', index = False)
MovieGenres.to_csv('MovieGenre.csv', index=False)
Person.to_csv('Person.csv', index=False)
ActingRole.to_csv('ActingRole.csv', index=False)
DirectingRole.to_csv('DirectingRole.csv', index=False)
KnownForTitles.to_csv('KnownForTitle.csv', index=False)

In [61]:
#Do Not Run Past Here!!!!!!!!

In [62]:
Movie.to_csv('Movie.csv', index=False)

In [68]:
KnownForTitles2.to_csv('KnownForTitle.csv', index=False)

In [63]:
url = "https://api.themoviedb.org/3/movie/now_playing?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5MTQ0NjAzMzhhNzc5Y2MyYTFjN2ZiZmY2YmFjYjYxYSIsInN1YiI6IjY2Njc1ZTg0ZjlkNjI5MGE0YmRkYjM3NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.w0fv3irOJl0C0xXLvSOxAqDxquEPXPOIe6BoOLP-e7A"
}

response = requests.get(url, headers=headers)

print(response.text)

{"dates":{"maximum":"2024-07-17","minimum":"2024-06-05"},"page":1,"results":[{"adult":false,"backdrop_path":"/stKGOm8UyhuLPR9sZLjs5AkmncA.jpg","genre_ids":[16,10751,12,35,18],"id":1022789,"original_language":"en","original_title":"Inside Out 2","overview":"Teenager Riley's mind headquarters is undergoing a sudden demolition to make room for something entirely unexpected: new Emotions! Joy, Sadness, Anger, Fear and Disgust, who’ve long been running a successful operation by all accounts, aren’t sure how to feel when Anxiety shows up. And it looks like she’s not alone.","popularity":7738.12,"poster_path":"/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg","release_date":"2024-06-11","title":"Inside Out 2","video":false,"vote_average":7.715,"vote_count":1641},{"adult":false,"backdrop_path":"/zYdVEWpZyG1S1BtMEdOl2W36I7A.jpg","genre_ids":[16,10751,35,28],"id":519182,"original_language":"en","original_title":"Despicable Me 4","overview":"Gru and Lucy and their girls — Margo, Edith and Agnes — welcome a new member to the Gru family, Gru Jr., who is intent on tormenting his dad. Meanwhile, Gru faces a new nemesis in Maxime Le Mal and his femme fatale girlfriend Valentina, forcing the family to go on the run.","popularity":6006.489,"poster_path":"/3w84hCFJATpiCO5g8hpdWVPBbmq.jpg","release_date":"2024-06-20","title":"Despicable Me 4","video":false,"vote_average":7.561,"vote_count":197},{"adult":false,"backdrop_path":"/wNAhuOZ3Zf84jCIlrcI6JhgmY5q.jpg","genre_ids":[28,12,878],"id":786892,"original_language":"en","original_title":"Furiosa: A Mad Max Saga","overview":"As the world fell, young Furiosa is snatched from the Green Place of Many Mothers and falls into the hands of a great Biker Horde led by the Warlord Dementus. Sweeping through the Wasteland they come across the Citadel presided over by The Immortan Joe. While the two Tyrants war for dominance, Furiosa must survive many trials as she puts together the means to find her way home.","popularity":2397.135,"poster_path":"/iADOJ8Zymht2JPMoy3R7xceZprc.jpg","release_date":"2024-05-22","title":"Furiosa: A Mad Max Saga","video":false,"vote_average":7.667,"vote_count":2036},{"adult":false,"backdrop_path":"/rrwt0u1rW685u9bJ9ougg5HJEHC.jpg","genre_ids":[28,35,80],"id":280180,"original_language":"en","original_title":"Beverly Hills Cop: Axel F","overview":"Forty years after his unforgettable first case in Beverly Hills, Detroit cop Axel Foley returns to do what he does best: solve crimes and cause chaos.","popularity":1800.959,"poster_path":"/zszRKfzjM5jltiq8rk6rasKVpUv.jpg","release_date":"2024-06-20","title":"Beverly Hills Cop: Axel F","video":false,"vote_average":6.928,"vote_count":460},{"adult":false,"backdrop_path":"/Akv9GlCCMrzcDkVz4ad8MdLl9DK.jpg","genre_ids":[16,35,10751,12],"id":748783,"original_language":"en","original_title":"The Garfield Movie","overview":"Garfield, the world-famous, Monday-hating, lasagna-loving indoor cat, is about to have a wild outdoor adventure! After an unexpected reunion with his long-lost father – scruffy street cat Vic – Garfield and his canine friend Odie are forced from their perfectly pampered life into joining Vic in a hilarious, high-stakes heist.","popularity":1553.504,"poster_path":"/xYduFGuch9OwbCOEUiamml18ZoB.jpg","release_date":"2024-04-30","title":"The Garfield Movie","video":false,"vote_average":7.048,"vote_count":326},{"adult":false,"backdrop_path":"/buawWBeKYjYfeiPoS2jIcjOrghZ.jpg","genre_ids":[27,53],"id":1214509,"original_language":"en","original_title":"In a Violent Nature","overview":"The enigmatic resurrection, rampage, and retribution of an undead monster in a remote wilderness unleashes an iconic new killer after a locket is removed from a collapsed fire tower that entombed its rotting corpse.","popularity":1347.111,"poster_path":"/hPfWHgq07nXbeldwEGxWB4JqwtE.jpg","release_date":"2024-05-31","title":"In a Violent Nature","video":false,"vote_average":5.818,"vote_count":86},{"adult":false,"backdrop_path":"/gRApXuxWmO2forYTuTmcz5RaNUV.jpg","genre_ids":[28,80,53,35],"id":573435,"original_language":"en","original_title":"Bad Boys: Ride or Die","overview":"After their late former Captain is framed, Lowrey and Burnett try to clear his name, only to end up on the run themselves.","popularity":1310.469,"poster_path":"/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg","release_date":"2024-06-05","title":"Bad Boys: Ride or Die","video":false,"vote_average":7.02,"vote_count":538},{"adult":false,"backdrop_path":"/lA6KdSkCTxwzvqzPqxch997RabQ.jpg","genre_ids":[28,53],"id":560016,"original_language":"en","original_title":"Monkey Man","overview":"Kid is an anonymous young man who ekes out a meager living in an underground fight club where, night after night, wearing a gorilla mask, he is beaten bloody by more popular fighters for cash. After years of suppressed rage, Kid discovers a way to infiltrate the enclave of the city’s sinister elite. As his childhood trauma boils over, his mysteriously scarred hands unleash an explosive campaign of retribution to settle the score with the men who took everything from him.","popularity":994.728,"poster_path":"/4lhR4L2vzzjl68P1zJyCH755Oz4.jpg","release_date":"2024-04-03","title":"Monkey Man","video":false,"vote_average":7.079,"vote_count":573},{"adult":false,"backdrop_path":"/6XjMwQTvnICBz6TguiDKkDVHvgS.jpg","genre_ids":[27,878,53],"id":762441,"original_language":"en","original_title":"A Quiet Place: Day One","overview":"As New York City is invaded by alien creatures who hunt by sound, a woman named Sam fights to survive.","popularity":738.012,"poster_path":"/yrpPYKijwdMHyTGIOd1iK1h0Xno.jpg","release_date":"2024-06-26","title":"A Quiet Place: Day One","video":false,"vote_average":6.905,"vote_count":378},{"adult":false,"backdrop_path":"/a4IWRYNMNMszIkRbEIiNsRg6cvt.jpg","genre_ids":[10752,28,18],"id":929590,"original_language":"en","original_title":"Civil War","overview":"In the near future, a group of war journalists attempt to survive while reporting the truth as the United States stands on the brink of civil war.","popularity":716.15,"poster_path":"/sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg","release_date":"2024-04-10","title":"Civil War","video":false,"vote_average":6.993,"vote_count":1861},{"adult":false,"backdrop_path":"/aATi2PtaOQCVAquCym6OU0Z4FjY.jpg","genre_ids":[28,80,53],"id":704673,"original_language":"en","original_title":"Trigger Warning","overview":"A Special Forces commando uncovers a dangerous conspiracy when she returns to her hometown looking for answers into her beloved father's death.","popularity":689.064,"poster_path":"/lJN24nn28s5afC1UnLPYRgYOp1K.jpg","release_date":"2024-06-20","title":"Trigger Warning","video":false,"vote_average":5.897,"vote_count":305},{"adult":false,"backdrop_path":"/yHEFwHkU2NqRxBrAoGBfuhuqIL1.jpg","genre_ids":[35,28],"id":1143019,"original_language":"fr","original_title":"Les Infaillibles","overview":"When a gang of robbers provokes chaos in Paris and humiliates the police, the Minister of the Interior wants new blood at the helm of the investigation: Alia is from Marseille, fiery-tempered and unmanageable, Hugo is Parisian, valedictorian and meticulous. In short, they have every reason to hate each other. A forced alliance, for better or for worse, or maybe blossoming into something else?","popularity":632.945,"poster_path":"/7PoIAvL3Io5v0HyBliXfXZruQTi.jpg","release_date":"2024-06-20","title":"The Infallibles","video":false,"vote_average":5.848,"vote_count":46},{"adult":false,"backdrop_path":"/uNTciMXpCQDg7gvgMsPCdnxo6Re.jpg","genre_ids":[28,53],"id":1114738,"original_language":"en","original_title":"Boneyard","overview":"After Police Chief Carter discovers the remains of eleven women, FBI Special Agent Petrovick is recruited to profile the serial killer responsible for the infamous \"boneyard\" killings. As the police force, narcotics agency, and FBI lock horns, a tangled web of intrigue turns everyone into a suspect.","popularity":617.777,"poster_path":"/xkNK36hQv8SWiwiQoE7naRfP0zL.jpg","release_date":"2024-07-05","title":"Boneyard","video":false,"vote_average":5.703,"vote_count":32},{"adult":false,"backdrop_path":"/wXx72bbhhnfORmlSNMWR28fPd8b.jpg","genre_ids":[14,9648,53,27],"id":1086747,"original_language":"en","original_title":"The Watchers","overview":"A young artist gets stranded in an extensive, immaculate forest in western Ireland, where, after finding shelter, she becomes trapped alongside three strangers, stalked by mysterious creatures each night.","popularity":541.929,"poster_path":"/vZVEUPychdvZLrTNwWErr9xZFmu.jpg","release_date":"2024-06-06","title":"The Watchers","video":false,"vote_average":6.563,"vote_count":451},{"adult":false,"backdrop_path":"/nxxCPRGTzxUH8SFMrIsvMmdxHti.jpg","genre_ids":[35,14,10751],"id":639720,"original_language":"en","original_title":"IF","overview":"A young girl who goes through a difficult experience begins to see everyone's imaginary friends who have been left behind as their real-life friends have grown up.","popularity":474.927,"poster_path":"/xbKFv4KF3sVYuWKllLlwWDmuZP7.jpg","release_date":"2024-05-08","title":"IF","video":false,"vote_average":7.411,"vote_count":615},{"adult":false,"backdrop_path":"/yQWzbWs8Zb0dR0SdodGUJOmvbq3.jpg","genre_ids":[35,16],"id":1308623,"original_language":"es","original_title":"La Familia del Barrio: La Película","overview":"El Noruego travels back in time and accidentally prevents the War of Independence by getting Miguel Hidalgo drunk before giving the cry.","popularity":405.638,"poster_path":"/9mOEVJCKUWMxTABooY1U0FSwfi6.jpg","release_date":"2024-06-28","title":"La Familia del Barrio: La Película","video":false,"vote_average":7.444,"vote_count":18},{"adult":false,"backdrop_path":"/w2zsNG7WKBMH35QqcFYILEAdYDU.jpg","genre_ids":[14,12,10751],"id":1026999,"original_language":"pl","original_title":"Akademia Pana Kleksa","overview":"A seemingly ordinary girl finds her way into the eponymous Academy to explore the world of fairy tales, imagination and creativity. With the help of a crazy, talented teacher, she develops her unique abilities and also stumbles upon a clue that will help her unravel the biggest secret of the family...","popularity":404.72,"poster_path":"/ymbECZscR8BTkdvXziSinMIckAz.jpg","release_date":"2024-01-05","title":"Kleks Academy","video":false,"vote_average":6.4,"vote_count":73},{"adult":false,"backdrop_path":"/c2Gd2QwQx7IITMUoJgcckqMniqd.jpg","genre_ids":[27,18,9648],"id":1020896,"original_language":"no","original_title":"Håndtering av udøde","overview":"On a hot summer day in Oslo, the dead mysteriously awaken, and three families are thrown into chaos when their deceased loved ones come back to them. Who are they, and what do they want?","popularity":399.302,"poster_path":"/6XlHOx0JQNgYjuJ4YQKbrt4Gd4d.jpg","release_date":"2024-02-09","title":"Handling the Undead","video":false,"vote_average":6.524,"vote_count":42},{"adult":false,"backdrop_path":"/ngLxW9WqQAkTCBTcjOSt2Pnz5qZ.jpg","genre_ids":[10749,35],"id":987686,"original_language":"en","original_title":"A Family Affair","overview":"The only thing worse than being the assistant to a high-maintenance movie star who doesn't take you seriously? Finding out he's smitten with your mom.","popularity":381.199,"poster_path":"/l0CaVyqnTsWwNd4hWsrLNEk1Wjd.jpg","release_date":"2024-06-27","title":"A Family Affair","video":false,"vote_average":6.077,"vote_count":298},{"adult":false,"backdrop_path":"/jiGoKuVsKzF3isEY1MEDR90Eh1l.jpg","genre_ids":[35,10749],"id":1019411,"original_language":"en","original_title":"Space Cadet","overview":"Tiffany \"Rex\" Simpson has always dreamed of going to space, and her \"doctored\" application lands her in NASA's ultra-competitive astronaut training program. In over her head, can this Florida girl rely on her quick wits, moxie and determination to get through training and into the cosmos before she blows her cover?","popularity":358.386,"poster_path":"/7rda0SRuIGA8BDC8FTYHAOyXaRj.jpg","release_date":"2024-07-04","title":"Space Cadet","video":false,"vote_average":5.059,"vote_count":76}],"total_pages":208,"total_results":4147}

In [64]:
if response.status_code == 200:
    json_response = response.json()
    movies_data = [(movie['original_title'], movie['poster_path'], movie['genre_ids']) for movie in json_response.get('results', [])]
    df = pd.DataFrame(movies_data, columns=['Original Title', 'Poster Path', 'Genre IDs'])
    print(df)
else:
    print("Error:", response.status_code)

                        Original Title                       Poster Path  \
0                         Inside Out 2  /vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg
1                      Despicable Me 4  /3w84hCFJATpiCO5g8hpdWVPBbmq.jpg
2              Furiosa: A Mad Max Saga  /iADOJ8Zymht2JPMoy3R7xceZprc.jpg
3            Beverly Hills Cop: Axel F  /zszRKfzjM5jltiq8rk6rasKVpUv.jpg
4                   The Garfield Movie  /xYduFGuch9OwbCOEUiamml18ZoB.jpg
5                  In a Violent Nature  /hPfWHgq07nXbeldwEGxWB4JqwtE.jpg
6                Bad Boys: Ride or Die  /nP6RliHjxsz4irTKsxe8FRhKZYl.jpg
7                           Monkey Man  /4lhR4L2vzzjl68P1zJyCH755Oz4.jpg
8               A Quiet Place: Day One  /yrpPYKijwdMHyTGIOd1iK1h0Xno.jpg
9                            Civil War  /sh7Rg8Er3tFcN9BpKIPOMvALgZd.jpg
10                     Trigger Warning  /lJN24nn28s5afC1UnLPYRgYOp1K.jpg
11                    Les Infaillibles  /7PoIAvL3Io5v0HyBliXfXZruQTi.jpg
12                            Boneyard  /xkNK36hQv8SWiwiQoE7naRfP0zL.jpg
13                        The Watchers  /vZVEUPychdvZLrTNwWErr9xZFmu.jpg
14                                  IF  /xbKFv4KF3sVYuWKllLlwWDmuZP7.jpg
15  La Familia del Barrio: La Película  /9mOEVJCKUWMxTABooY1U0FSwfi6.jpg
16                Akademia Pana Kleksa  /ymbECZscR8BTkdvXziSinMIckAz.jpg
17                 Håndtering av udøde  /6XlHOx0JQNgYjuJ4YQKbrt4Gd4d.jpg
18                     A Family Affair  /l0CaVyqnTsWwNd4hWsrLNEk1Wjd.jpg
19                         Space Cadet  /7rda0SRuIGA8BDC8FTYHAOyXaRj.jpg

                  Genre IDs
0   [16, 10751, 12, 35, 18]
1       [16, 10751, 35, 28]
2             [28, 12, 878]
3              [28, 35, 80]
4       [16, 35, 10751, 12]
5                  [27, 53]
6          [28, 80, 53, 35]
7                  [28, 53]
8             [27, 878, 53]
9           [10752, 28, 18]
10             [28, 80, 53]
11                 [35, 28]
12                 [28, 53]
13       [14, 9648, 53, 27]
14          [35, 14, 10751]
15                 [35, 16]
16          [14, 12, 10751]
17           [27, 18, 9648]
18              [10749, 35]
19              [35, 10749]

In [65]:
#For poster path, prefix https://image.tmdb.org/t/p/w500/ to the name in the table.

In [66]:
url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5MTQ0NjAzMzhhNzc5Y2MyYTFjN2ZiZmY2YmFjYjYxYSIsInN1YiI6IjY2Njc1ZTg0ZjlkNjI5MGE0YmRkYjM3NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.w0fv3irOJl0C0xXLvSOxAqDxquEPXPOIe6BoOLP-e7A"
}

response = requests.get(url, headers=headers)

print(response.text)

{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}

In [67]:
if response.status_code == 200:
    json_response = response.json() 
    genres_data = [(genre['id'], genre['name']) for genre in json_response.get('genres', [])]
    df = pd.DataFrame(genres_data, columns=['Genre ID', 'Genre Name'])
    print(df)
else:
    print("Error:", response.status_code)

    Genre ID       Genre Name
0         28           Action
1         12        Adventure
2         16        Animation
3         35           Comedy
4         80            Crime
5         99      Documentary
6         18            Drama
7      10751           Family
8         14          Fantasy
9         36          History
10        27           Horror
11     10402            Music
12      9648          Mystery
13     10749          Romance
14       878  Science Fiction
15     10770         TV Movie
16        53         Thriller
17     10752              War
18        37          Western